@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
:root {
  --font: "Source Sans Pro", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
